In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

In [2]:
#Importing dataset
books_data = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/final_annotated_item_dataset.csv', sep=',')
header_items_lookup_df = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/header_items_lookup_df.csv', sep=',')
header_items_df = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/header_items_df.csv',
                 lineterminator='\n')
header_items_df.drop(['Unnamed: 0','title', 'author', 'publisher','recommended_age', 'mt_st_'], axis= 1, inplace=True)
header_items_lookup_df.drop(['Unnamed: 0'], axis= 1, inplace=True)
df = books_data.copy()

In [3]:
header_items_df.head(1)

,headerID,language,number_pages,release_date,description_
0,0,{'Englisch'},{304},{Timestamp('2018-04-17 00:00:00')},at the beginning was the wordand from the word...

In [4]:
header_items_lookup_df.head(1)

   itemID  headerID
0   21310     45065

In [5]:
header_temp = header_items_df.merge(header_items_lookup_df, how='left', on='headerID')
header_temp = header_temp.rename(columns={'language':'language_Thalia'})
header_temp = header_temp.rename(columns={'description_':'description_Thalia'})
header_temp.drop(['headerID'], axis= 1, inplace=True)

In [6]:
header_temp.head(1)

,language_Thalia,number_pages,release_date,description_Thalia,itemID
0,{'Englisch'},{304},{Timestamp('2018-04-17 00:00:00')},at the beginning was the wordand from the word...,5649

In [7]:
df = df.merge(header_temp, how='left', on='itemID')
df.drop(['Unnamed: 0'], axis= 1, inplace=True)

In [8]:
df.head(5)

,itemID,title,author,publisher,main topic,subtopics,language,description,ISBN_13,interest_age,LangDetect,language_Thalia,number_pages,release_date,description_Thalia
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],en,A brand-new story in the best-selling Princess...,"[{'type': 'ISBN_13', 'identifier': '9781409048...",1,en,{'Englisch'},{''},{Timestamp('2010-11-30 00:00:00')},a brand new story in the best selling princess...
1,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",de,NaN,"[{'type': 'ISBN_10', 'identifier': '3849927601...",1,de,{'Deutsch'},{224},{Timestamp('2020-12-02 00:00:00')},
2,19194,Red Queen 1,Victoria Aveyard,Orion Publishing Group,YFH,"[5AP,FBA]",en,The first novel in the #1 bestselling RED QUEE...,"[{'type': 'ISBN_13', 'identifier': '9781409150...",1.5,en,{'Englisch'},{''},{Timestamp('2016-02-03 00:00:00')},mare barrows world is divided by blood—those w...
3,40250,Meine Kindergarten-Freunde (Pirat),NaN,Ars Edition GmbH,YB,"[5AC,5AD,YBG,YBL,YF]",de,Ein wunderschönes Freundebuch zur Erinnerung a...,"[{'type': 'ISBN_13', 'identifier': '9798691079...",0,de,{'Deutsch'},{64},{Timestamp('2015-06-04 00:00:00')},NaN
4,46107,Mein großes Schablonen-Buch - Wilde Tiere,Elizabeth Golding,Edition Michael Fischer,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]",de,NaN,"[{'type': 'ISBN_13', 'identifier': '9798691079...",0,de,{'Deutsch'},{16},{Timestamp('2019-02-19 00:00:00')},die welt der wilden tieremalen lernen war noch...

In [9]:
df['description'].isna().sum()

15652

In [10]:
j = 0
for i in range (len(df.index)):
    if ((pd.isnull(df.loc[i, 'description'])) or (df.loc[i, 'description'] == None)):
        j = j + 1
print(j)

15652

In [11]:
j = 0
for i in range (len(df.index)):
    if ((pd.isnull(df.loc[i, 'description'])) or (df.loc[i, 'description'] == None)):
        thalia_description = df.at[i,'description_Thalia']
        df.loc[i, 'description'] = thalia_description
        j=j+1
print(j)

15652

In [12]:
df['description'].isna().sum()

2888

In [13]:
df.head(1)

,itemID,title,author,publisher,main topic,subtopics,language,description,ISBN_13,interest_age,LangDetect,language_Thalia,number_pages,release_date,description_Thalia
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],en,A brand-new story in the best-selling Princess...,"[{'type': 'ISBN_13', 'identifier': '9781409048...",1,en,{'Englisch'},{''},{Timestamp('2010-11-30 00:00:00')},a brand new story in the best selling princess...

In [14]:
for i in range (len(df.index)):
    lang_talia = df.at[i,'language_Thalia']
    if (lang_talia == str({'Englisch'})):
        lang_talia = 'en'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Deutsch'})):
        lang_talia = 'de'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Spanisch'})):
        lang_talia = 'es'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Italienisch'})):
        lang_talia = 'it'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Französisch'})):
        lang_talia = 'fr'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Portugiesisch'})):
        lang_talia = 'pt'
        df.loc[i, 'language_Thalia'] = lang_talia

In [15]:
df.head(1)

,itemID,title,author,publisher,main topic,subtopics,language,description,ISBN_13,interest_age,LangDetect,language_Thalia,number_pages,release_date,description_Thalia
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],en,A brand-new story in the best-selling Princess...,"[{'type': 'ISBN_13', 'identifier': '9781409048...",1,en,en,{''},{Timestamp('2010-11-30 00:00:00')},a brand new story in the best selling princess...

In [19]:
df ['LangDetect2'] = ''
!pip install langdetect
from langdetect import DetectorFactory, detect
from langdetect.lang_detect_exception import LangDetectException
DetectorFactory.seed = 0
for i in range (len(df.index)):
    concat_string = str(df.loc[i].at['title']) + str(df.loc[i].at['author']) + str(df.loc[i].at['publisher']) + str(df.loc[i].at['description']) + str(df.loc[i].at['description_Thalia'])
    try:
        language = detect(concat_string)
    except LangDetectException:
        language = 'unknown'
    df.at[i,'LangDetect2'] = language

Requirement already satisfied: langdetect in c:\users\asus\anaconda3\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\asus\anaconda3\lib\site-packages (from langdetect) (1.15.0)

In [22]:
df.to_csv('Thalia_googlebooks_added.csv')

In [148]:
books_data_new = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/Thalia_googlebooks_added.csv', sep=',')

In [149]:
books_data_new.head(1)

,Unnamed: 0,itemID,title,author,publisher,main topic,subtopics,language,description,ISBN_13,interest_age,LangDetect,language_Thalia,number_pages,release_date,description_Thalia,LangDetect2
0,0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],en,A brand-new story in the best-selling Princess...,"[{'type': 'ISBN_13', 'identifier': '9781409048...",1,en,en,{''},{Timestamp('2010-11-30 00:00:00')},a brand new story in the best selling princess...,en

In [150]:
df = books_data_new.copy()

In [151]:
for i in range (len(df.index)):
    lang_talia = df.at[i,'language_Thalia']
    lang_dec2 = df.at[i,'LangDetect2']
    if (lang_talia == str({'Albanisch'})):
        lang_talia = 'sq'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Arabisch'})):
        lang_talia = 'ar'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Chinesisch'})):
        lang_talia = 'zh'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Estnisch'})):
        lang_talia = 'et'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Finnisch'})):
        lang_talia = 'fi'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Hindi'})):
        lang_talia = 'hi'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Norwegisch'})):
        lang_talia = 'no'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Polnisch'})):
        lang_talia = 'pl'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Russisch'})):
        lang_talia = 'ru'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Schwedisch'})):
        lang_talia = 'sv'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Ungarisch'})):
        lang_talia = 'hu'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Vietnamesisch'})):
        lang_talia = 'vi'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Afar'})):
        lang_talia = 'af'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Niederländisch'})):
        lang_talia = 'nl'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Indonesisch'})):
        lang_talia = 'id'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Tagalog'})):
        lang_talia = 'tl'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Dänisch'})):
        lang_talia = 'da'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Katalanisch'})):
        lang_talia = 'ca'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Ukrainisch'})):
        lang_talia = 'uk'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Ukrainisch'})):
        lang_talia = 'uk'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Türkisch'})):
        lang_talia = 'tr'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Rumänisch'})):
        lang_talia = 'ro'
        df.loc[i, 'language_Thalia'] = lang_talia
    elif (lang_talia == str({'Maltesisch'})):
        lang_talia = 'mt'
        df.loc[i, 'language_Thalia'] = lang_talia 
    elif (lang_talia == str({'Isländisch'})):
        lang_talia = 'is'
        df.loc[i, 'language_Thalia'] = lang_talia 
    elif (lang_talia == str({'Mazedonisch'})):
        lang_talia = 'mk'
        df.loc[i, 'language_Thalia'] = lang_talia 
    elif (lang_talia == str({'Kroatisch'})):
        lang_talia = 'hr'
        df.loc[i, 'language_Thalia'] = lang_talia 
    elif (lang_talia == str({'Griechisch'})):
        lang_talia = 'el'
        df.loc[i, 'language_Thalia'] = lang_talia 
    elif (lang_talia == str({'Tschechisch'})):
        lang_talia = 'ce'
        df.loc[i, 'language_Thalia'] = lang_talia 
    elif (lang_talia == str({'Koreanisch'})):
        lang_talia = 'ko'
        df.loc[i, 'language_Thalia'] = lang_talia 
    elif (lang_talia == str({'Bulgarisch'})):
        lang_talia = 'bg'
        df.loc[i, 'language_Thalia'] = lang_talia 
    elif (lang_talia == str({'Japanisch'})):
        lang_talia = 'ja'
        df.loc[i, 'language_Thalia'] = lang_talia 
      
        
    elif (lang_talia == str({'Englisch, Spanisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2
    elif (lang_talia == str({'Englisch, Französisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2
    elif (lang_talia == str({'Deutsch, Englisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2 
    elif (lang_talia == str({'Deutsch, Französisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2 
    elif (lang_talia == str({'Deutsch, Spanisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2 
    elif (lang_talia == str({'Deutsch, Englisch, Französisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2 
    elif (lang_talia == str({'Deutsch, Englisch', 'Englisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2 
    elif (lang_talia == str({'Deutsch, Englisch (Untertitel: Deutsch, Englisch)'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2
    elif (lang_talia == str({'Deutsch, Englisch (Untertitel: Deutsch)'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2 
    elif (lang_talia == str({''})): 
        df.loc[i, 'language_Thalia'] = lang_dec2 
    elif (lang_talia == str({'', 'Deutsch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2
    elif (lang_talia == str({'', 'Englisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2
    elif (lang_talia == str( {'', 'Hindi'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2
    elif (lang_talia == str( {'Chinesisch, Englisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2
    elif (lang_talia == str( {'Chinesisch, Deutsch, Englisch, Italienisch, Polnisch, RumÃ¤nisch'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2
    elif (lang_talia == str( {'Chinesisch, Deutsch (Untertitel: Deutsch)'})): 
        df.loc[i, 'language_Thalia'] = lang_dec2
    elif (len(str(lang_talia)) > 19):
        df.loc[i, 'language_Thalia'] = lang_dec2

In [152]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == lang_dec2)):
        df.loc[i, 'language'] = lang_talia
        j = j + 1
print(j)

9036

In [156]:
df.to_csv('Thalia_googlebooks_added.csv')

In [187]:
books_data_new = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/Thalia_googlebooks_added.csv', sep=',')
df = books_data_new.copy()
df.head(1)

,Unnamed: 0,Unnamed: 0.1,itemID,title,author,publisher,main topic,subtopics,language,description,ISBN_13,interest_age,LangDetect,language_Thalia,number_pages,release_date,description_Thalia,LangDetect2
0,0,0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],en,A brand-new story in the best-selling Princess...,"[{'type': 'ISBN_13', 'identifier': '9781409048...",1,en,en,{''},{Timestamp('2010-11-30 00:00:00')},a brand new story in the best selling princess...,en

In [188]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang_dec2) and (lang_talia == 'de')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

4166

In [189]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'de')):
        df.loc[i, 'language_Thalia'] = lang_dec2
        df.loc[i, 'language'] = lang_dec2
        j = j + 1
print(j)

485

In [193]:
df.to_csv('Thalia_googlebooks_added.csv')

In [674]:
books_data_new = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/Thalia_googlebooks_added.csv', sep=',')
df = books_data_new.copy()

In [675]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'es') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

0

In [676]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'it') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

0

In [677]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'fr') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

0

In [156]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'ru') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

0

In [157]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'pt') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

0

In [204]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'hi') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

44

In [205]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'zh') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

19

In [206]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'sv') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

20

In [207]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'nl') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

16

In [208]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'fi') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

10

In [209]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'tr') and (lang == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

8

In [210]:
disagree = 0
for i in range (len(df.index)):
    if (df.loc[i, 'language'] != df.loc[i, 'language_Thalia']):
        disagree = disagree + 1
print (disagree)

784

In [29]:
df.to_csv('Thalia_googlebooks_added.csv')

In [678]:
import pandas as pd
import numpy as np
books_data_new = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/Thalia_googlebooks_added.csv', sep=',')
df = books_data_new.copy()
df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1'], axis= 1, inplace=True)

In [679]:
df.loc[6301, 'language'] = df.at[6301,'language_Thalia']
df.loc[9937, 'language'] = df.at[9937,'language_Thalia']
df.loc[11688, 'language'] = df.at[11688,'language_Thalia']
df.loc[11726, 'language'] = df.at[11726,'language_Thalia']
df.loc[15840, 'language'] = df.at[15840,'language_Thalia']
df.loc[70010, 'language'] = df.at[70010,'language_Thalia']
df.loc[35037, 'language'] = df.at[35037,'language_Thalia']
df.loc[56775, 'language'] = df.at[56775,'language_Thalia']
df.loc[61931, 'language'] = df.at[61931,'language_Thalia']
df.loc[66674, 'language'] = df.at[66674,'language_Thalia']
df.loc[66682, 'language'] = df.at[66682,'language_Thalia']
df.loc[66727, 'language'] = df.at[66727,'language_Thalia']
df.loc[67260, 'language'] = df.at[67260,'language_Thalia']
df.loc[67904, 'language'] = df.at[67904,'language_Thalia']
df.loc[67917, 'language'] = df.at[67917,'language_Thalia']
df.loc[68711, 'language'] = df.at[68711,'language_Thalia']
df.loc[66726, 'language'] = df.at[66726,'language_Thalia']
df.loc[67272, 'language'] = df.at[67272,'language_Thalia']
df.loc[68768, 'language'] = df.at[68768,'language_Thalia']
df.loc[40106, 'language'] = df.at[40106,'language_Thalia']
df.loc[73332, 'language'] = df.at[73332,'language_Thalia']
df.loc[43447, 'language'] = df.at[43447,'language_Thalia']
df.loc[33792, 'language'] = df.at[33792,'language_Thalia']
df.loc[60556, 'language'] = df.at[60556,'language_Thalia']
df.loc[29802, 'language'] = df.at[29802,'language_Thalia']
df.loc[54050, 'language'] = df.at[54050,'language_Thalia']
df.loc[44237, 'language'] = df.at[44237,'language_Thalia']
df.loc[66819, 'language'] = df.at[66819,'language_Thalia']
df.loc[4012, 'language'] = df.at[4012,'language_Thalia']
df.loc[4454, 'language'] = df.at[4454,'language_Thalia']
df.loc[70492, 'language'] = df.at[70492,'language_Thalia']
df.loc[36801, 'language'] = df.at[36801,'language_Thalia']
df.loc[54482, 'language'] = df.at[54482,'language_Thalia']
df.loc[69363, 'language'] = df.at[69363,'language_Thalia']
df.loc[70514, 'language'] = df.at[70514,'language_Thalia']
df.loc[72304, 'language'] = df.at[72304,'language_Thalia']
df.loc[72319, 'language'] = df.at[72319,'language_Thalia']
df.loc[72700, 'language'] = df.at[72700,'language_Thalia']
df.loc[73302, 'language'] = df.at[73302,'language_Thalia']
df.loc[68916, 'language'] = df.at[68916,'language_Thalia']
df.loc[63178, 'language'] = df.at[63178,'language_Thalia']
df.loc[67368, 'language'] = df.at[67368,'language_Thalia']
df.loc[67368, 'description'] = df.at[67368,'description_Thalia']
df.loc[67599, 'language'] = df.at[67599,'language_Thalia']
df.loc[67599, 'description'] = df.at[67599,'description_Thalia']
df.loc[77470, 'language'] = df.at[77470,'language_Thalia']
df.loc[77470, 'description'] = df.at[77470,'description_Thalia']
df.loc[71872, 'language'] = df.at[71872,'language_Thalia']
df.loc[71872, 'description'] = df.at[71872,'description_Thalia']
df.loc[69691, 'language'] = df.at[69691,'language_Thalia']
df.loc[69691, 'description'] = df.at[69691,'description_Thalia']
df.loc[66665, 'language'] = df.at[66665,'language_Thalia']
df.loc[66743, 'language'] = df.at[66743,'language_Thalia']
df.loc[66759, 'language'] = df.at[66759,'language_Thalia']
df.loc[66777, 'language'] = df.at[66777,'language_Thalia']
df.loc[67245, 'language'] = df.at[67245,'language_Thalia']
df.loc[68762, 'language'] = df.at[68762,'language_Thalia']
df.loc[68774, 'language'] = df.at[68774,'language_Thalia']

df.loc[7242, 'language_Thalia'] = df.at[7242,'language']
df.loc[13960, 'language_Thalia'] = df.at[13960,'language']
df.loc[20000, 'language_Thalia'] = df.at[20000,'language']
df.loc[70612, 'language_Thalia'] = df.at[70612,'language']
df.loc[513, 'language_Thalia'] = df.at[513,'language']
df.loc[1875, 'language_Thalia'] = df.at[1875,'language']
df.loc[20527, 'language_Thalia'] = df.at[20527,'language']
df.loc[22212, 'language_Thalia'] = df.at[22212,'language']
df.loc[25168, 'language_Thalia'] = df.at[25168,'language']
df.loc[33335, 'language_Thalia'] = df.at[33335,'language']
df.loc[33348, 'language_Thalia'] = df.at[33348,'language']
df.loc[33855, 'language_Thalia'] = df.at[33855,'language']
df.loc[35111, 'language_Thalia'] = df.at[35111,'language']
df.loc[46336, 'language_Thalia'] = df.at[46336,'language']
df.loc[51833, 'language_Thalia'] = df.at[51833,'language']
df.loc[55895, 'language_Thalia'] = df.at[55895,'language']
df.loc[58002, 'language_Thalia'] = df.at[58002,'language']
df.loc[73537, 'language_Thalia'] = df.at[73537,'language']
df.loc[73598, 'language_Thalia'] = df.at[73598,'language']
df.loc[73603, 'language_Thalia'] = df.at[73603,'language']
df.loc[73616, 'language_Thalia'] = df.at[73616,'language']
df.loc[73653, 'language_Thalia'] = df.at[73653,'language']
df.loc[73196, 'language_Thalia'] = df.at[73196,'language']
df.loc[73280, 'language_Thalia'] = df.at[73280,'language']
df.loc[73372, 'language_Thalia'] = df.at[73372,'language']
df.loc[73375, 'language_Thalia'] = df.at[73375,'language']
df.loc[72872, 'language_Thalia'] = df.at[72872,'language']
df.loc[73135, 'language_Thalia'] = df.at[73135,'language']
df.loc[73137, 'language_Thalia'] = df.at[73137,'language']
df.loc[73159, 'language_Thalia'] = df.at[73159,'language']
df.loc[73160, 'language_Thalia'] = df.at[73160,'language']
df.loc[72675, 'language_Thalia'] = df.at[72675,'language']
df.loc[72697, 'language_Thalia'] = df.at[72697,'language']
df.loc[72709, 'language_Thalia'] = df.at[72709,'language']
df.loc[72713, 'language_Thalia'] = df.at[72713,'language']
df.loc[72844, 'language_Thalia'] = df.at[72844,'language']
df.loc[65085, 'language_Thalia'] = df.at[65085,'language']
df.loc[67543, 'language_Thalia'] = df.at[67543,'language']
df.loc[65085, 'language_Thalia'] = df.at[65085,'language']
df.loc[67564, 'language_Thalia'] = df.at[67564,'language']
df.loc[69051, 'language_Thalia'] = df.at[69051,'language']
df.loc[70696, 'language_Thalia'] = df.at[70696,'language']
df.loc[65043, 'language_Thalia'] = df.at[65043,'language']
df.loc[66923, 'language_Thalia'] = df.at[66923,'language']
df.loc[67009, 'language_Thalia'] = df.at[67009,'language']
df.loc[67030, 'language_Thalia'] = df.at[67030,'language']
df.loc[67081, 'language_Thalia'] = df.at[67081,'language']
df.loc[55159, 'language_Thalia'] = df.at[55159,'language']
df.loc[55169, 'language_Thalia'] = df.at[55169,'language']
df.loc[8085, 'language_Thalia'] = df.at[8085,'language']
df.loc[72368, 'language_Thalia'] = df.at[72368,'language']
df.loc[55982, 'language_Thalia'] = df.at[55982,'language']
df.loc[56489, 'language_Thalia'] = df.at[56489,'language']
df.loc[63621, 'language_Thalia'] = df.at[63621,'language']
df.loc[58224, 'language_Thalia'] = df.at[58224,'language']
df.loc[58226, 'language_Thalia'] = df.at[58226,'language']
df.loc[61657, 'language_Thalia'] = df.at[61657,'language']
df.loc[59999, 'language_Thalia'] = df.at[59999,'language']
df.loc[55000, 'language_Thalia'] = df.at[55000,'language']
df.loc[50000, 'language_Thalia'] = df.at[50000,'language']
df.loc[31055, 'language_Thalia'] = df.at[31055,'language']
df.loc[29999, 'language_Thalia'] = df.at[29999,'language']
df.loc[10000, 'language_Thalia'] = df.at[10000,'language']
df.loc[70000, 'language_Thalia'] = df.at[70000,'language']
df.loc[75000, 'language_Thalia'] = df.at[75000,'language']

df.loc[69385, 'language_Thalia'] = 'es'
df.loc[69385, 'language'] = 'es'
df.loc[63747, 'language_Thalia'] = 'de'
df.loc[63747, 'language'] = 'de'
df.loc[63747, 'description'] = df.at[63747,'description_Thalia']

In [680]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == lang_dec1)):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

9

In [681]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'es') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

12

In [682]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'hi') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

8

In [683]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'ar') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

7

In [684]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'es')):
        df.loc[i, 'language_Thalia'] = lang_dec2
        j = j + 1
print(j)

93

In [685]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'es') and (lang_dec2 == 'de')):
        df.loc[i, 'language_Thalia'] = lang_dec2
        j = j + 1
print(j)

22

In [686]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'it') and (lang_dec2 == 'de')):
        df.loc[i, 'language_Thalia'] = lang_dec2
        j = j + 1
print(j)

18

In [687]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'fr')):
        df.loc[i, 'language_Thalia'] = lang_dec2
        j = j + 1
print(j)

67

In [688]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'it')):
        df.loc[i, 'language_Thalia'] = lang_dec2
        j = j + 1
print(j)

58

In [689]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'ja') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

6

In [690]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'it') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

4

In [691]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'fr') and (lang_dec2 == 'de')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

12

In [692]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'zh') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'ca') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'fr') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'ro') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'pt') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'vi') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'ko') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'mt') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'da') and (lang_dec2 == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'hu')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'es') and (lang_dec2 == 'it')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'es') and (lang_dec2 == 'fr')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'sv')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'pt')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'nl')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'fi')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'ru')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'es')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'pt')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'it')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'fr')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'sv')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'nl')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'no')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1        
    if ((lang_talia != lang) and (lang_talia == 'ce')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1       
    if ((lang_talia != lang) and (lang_talia == 'el')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1               
    if ((lang_talia != lang) and (lang_talia == 'pl')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1       
    if ((lang_talia != lang) and (lang_talia == 'hi')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1               
    if ((lang_talia != lang) and (lang_talia == 'ca')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1               
    if ((lang_talia != lang) and (lang_talia == 'da')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1               
    if ((lang_talia != lang) and (lang_talia == 'ja')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1   
    if ((lang_talia != lang) and (lang_talia == 'ro')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1   
    if ((lang_talia != lang) and (lang_talia == 'bg')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1           
    if ((lang_talia != lang) and (lang_talia == 'tr')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1           
    if ((lang_talia != lang) and (lang_talia == 'is')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1           
    if ((lang_talia != lang) and (lang_talia == 'uk')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1           
    if ((lang_talia != lang) and (lang_talia == 'et')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1           
    if ((lang_talia != lang) and (lang_talia == 'zh')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1           
    if ((lang_talia != lang) and (lang_talia == 'fi')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1           
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'id')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'pl')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'vi')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1 
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'da')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1  
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'ml')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1  
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'tl')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1 
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'ro')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1         
        
print(j)

369

In [693]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'cy')):
        df.loc[i, 'language_Thalia'] = lang_dec2
        j = j + 1
print(j)

6

In [694]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'en') and (lang_dec2 == 'no')):
        df.loc[i, 'language_Thalia'] = lang_dec2
        j = j + 1
print(j)

2

In [695]:
df.loc[22871, 'language_Thalia']= 'ln'
df.loc[22871, 'language']= 'ln'
df.loc[22871, 'description']= df.at[22871,'description_Thalia']
df.loc[49398, 'language_Thalia']= 'ln'
df.loc[49398, 'language']= 'ln'
df.loc[49398, 'description']= df.at[49398,'description_Thalia']
df.loc[56547, 'language_Thalia']= 'ln'
df.loc[56547, 'language']= 'ln'
df.loc[56547, 'description']= df.at[56547,'description_Thalia']
df.loc[548, 'language_Thalia']= 'he'
df.loc[548, 'language']= 'he'
df.loc[548, 'description']= df.at[548,'description_Thalia'] 
df.loc[40531, 'language_Thalia']= 'he'
df.loc[40531, 'language']= 'he'
df.loc[40531, 'description']= df.at[40531,'description_Thalia'] 
df.loc[49634, 'language_Thalia']= 'lv'
df.loc[49634, 'language']= 'lv'
df.loc[49634, 'description']= df.at[49634,'description_Thalia'] 
df.loc[56441, 'language_Thalia']= 'lv'
df.loc[56441, 'language']= 'lv'
df.loc[56441, 'description']= df.at[56441,'description_Thalia']
df.loc[62088, 'language_Thalia']= 'sl'
df.loc[62088, 'language']= 'sl'
df.loc[62088, 'description']= df.at[62088,'description_Thalia'] 
df.loc[71955, 'language_Thalia']= 'sr'
df.loc[71955, 'language']= 'sr'
df.loc[71955, 'description']= df.at[62088,'description_Thalia']

In [696]:
j=0
for i in range (len(df.index)):
    lang = df.at[i,'language']
    lang_talia = df.at[i,'language_Thalia']
    description_talia = df.at[i,'description_Thalia']
    lang_dec1 = df.at[i,'LangDetect']
    lang_dec2 = df.at[i,'LangDetect2']
    if ((lang_talia != lang) and (lang_talia == 'en')):
        df.loc[i, 'language'] = lang_talia
        df.loc[i, 'description'] = description_talia
        j = j + 1
print(j)

7

In [702]:
df.drop(['LangDetect','language_Thalia', 'description_Thalia','LangDetect2'], axis= 1, inplace=True)

In [707]:
df.at[11346,'language'] = 'el'
df.at[11346,'publisher'] = 'Tektime'
df.at[62613,'language'] = 'sk'
df.at[62613,'publisher'] = 'Tektime'
df.at[62614,'language'] = 'ja'
df.at[62614,'publisher'] = 'Tektime'
df.at[62616,'language'] = 'ro'
df.at[62616,'publisher'] = 'Tektime'
df.at[62622,'publisher'] = 'Tektime'
df.at[62628,'language'] = 'ro'
df.at[62624,'publisher'] = 'Tektime'
df.at[62626,'publisher'] = 'Tektime'
df.at[62627,'publisher'] = 'Tektime'
df.at[62628,'publisher'] = 'Tektime'
df.at[27869,'publisher'] = 'KerlakEnterprises'
df.at[14859,'publisher'] = 'Double-Edged Publishing, Inc.'
df.at[70195,'publisher'] = 'Independently published'
df.at[42562,'language'] = 'zh'

In [708]:
new_df = df.reindex(columns=['itemID', 'title', 'author', 'publisher', 'main topic', 'subtopics', 'language', 'description', 'interest_age', 'number_pages', 'release_date', 'ISBN_13'])

In [709]:
new_df.head()

,itemID,title,author,publisher,main topic,subtopics,language,description,interest_age,number_pages,release_date,ISBN_13
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],en,A brand-new story in the best-selling Princess...,1,{''},{Timestamp('2010-11-30 00:00:00')},"[{'type': 'ISBN_13', 'identifier': '9781409048..."
1,73018,Einfach zeichnen! Step by Step,Wiebke Krabbe,Schwager und Steinlein,AGZ,"[5AJ,AGZ,WFA,YBG,YBL,YNA,YPA]",de,,1,{224},{Timestamp('2020-12-02 00:00:00')},"[{'type': 'ISBN_10', 'identifier': '3849927601..."
2,19194,Red Queen 1,Victoria Aveyard,Orion Publishing Group,YFH,"[5AP,FBA]",en,The first novel in the #1 bestselling RED QUEE...,1.5,{''},{Timestamp('2016-02-03 00:00:00')},"[{'type': 'ISBN_13', 'identifier': '9781409150..."
3,40250,Meine Kindergarten-Freunde (Pirat),NaN,Ars Edition GmbH,YB,"[5AC,5AD,YBG,YBL,YF]",de,Ein wunderschönes Freundebuch zur Erinnerung a...,0,{64},{Timestamp('2015-06-04 00:00:00')},"[{'type': 'ISBN_13', 'identifier': '9798691079..."
4,46107,Mein großes Schablonen-Buch - Wilde Tiere,Elizabeth Golding,Edition Michael Fischer,WFTM,"[WD,WFTM,YBG,YBL,YBLD,YBLN1]",de,die welt der wilden tieremalen lernen war noch...,0,{16},{Timestamp('2019-02-19 00:00:00')},"[{'type': 'ISBN_13', 'identifier': '9798691079..."

In [710]:
new_df.to_csv('Thalia_googlebooks_added.csv')

In [711]:
df['description'].isna().sum()

4281