In [1]:
!pip install googletrans
import pandas as pd
from googletrans import Translator
from langdetect import DetectorFactory, detect
from langdetect.lang_detect_exception import LangDetectException

Requirement already satisfied: googletrans in c:\users\asus\anaconda3\lib\site-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in c:\users\asus\anaconda3\lib\site-packages (from googletrans) (0.13.3)
Requirement already satisfied: idna==2.* in c:\users\asus\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (2.10)
Requirement already satisfied: httpcore==0.9.* in c:\users\asus\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (0.9.1)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\asus\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (1.5.0)
Requirement already satisfied: certifi in c:\users\asus\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (2020.6.20)
Requirement already satisfied: hstspreload in c:\users\asus\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (2020.12.22)
Requirement already satisfied: chardet==3.* in c:\users\asus\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (3.0.4)
Requirement already satisfied: sniffio in c:\users\asus\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (1.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\asus\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (0.9.0)
Requirement already satisfied: h2==3.* in c:\users\asus\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\asus\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\asus\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (3.0.0)

In [2]:
#Import dataset
books_data = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/Thalia_googlebooks_added.csv', sep=',')
df = books_data.copy()
google_df = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/google_books.csv', sep=',')
header_items_lookup_df = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/header_items_lookup_df.csv', sep=',')
header_items_df = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/header_items_df.csv',
                 lineterminator='\n')
header_items_df.drop(['Unnamed: 0','title', 'author', 'publisher','recommended_age', 'mt_st_'], axis= 1, inplace=True)
header_items_lookup_df.drop(['Unnamed: 0'], axis= 1, inplace=True)
df.drop(['Unnamed: 0','title','author','publisher','main topic','subtopics', 'interest_age', 'number_pages', 'release_date', 'ISBN_13'], axis= 1, inplace=True)

In [3]:
df.head(1)

   itemID language                                        description
0   21310       en  A brand-new story in the best-selling Princess...

In [4]:
google_df.drop(['Unnamed: 0', 'title' , 'authors', 'pageCount'], axis= 1, inplace=True)
google_df = google_df.rename(columns={'language':'language_google'})
google_df = google_df.rename(columns={'description':'description_google'})
google_df.head(1)

  language_google                                 description_google
0          ['en']  ["A brand-new story in the best-selling Prince...

In [5]:
header_items_df.head(1)

,headerID,language,number_pages,release_date,description_
0,0,{'Englisch'},{304},{Timestamp('2018-04-17 00:00:00')},at the beginning was the wordand from the word...

In [6]:
header_items_lookup_df.head(1)

   itemID  headerID
0   21310     45065

In [7]:
header_temp = header_items_df.merge(header_items_lookup_df, how='left', on='headerID')
header_temp = header_temp.rename(columns={'language':'language_Thalia'})
header_temp = header_temp.rename(columns={'description_':'description_Thalia'})
header_temp.drop(['headerID' , 'number_pages', 'release_date' , 'description_Thalia'], axis= 1, inplace=True)

In [8]:
header_temp.head(1)

  language_Thalia  itemID
0    {'Englisch'}    5649

In [9]:
df = df.merge(header_temp, how='left', on='itemID')

In [10]:
df.head(1)

,itemID,language,description,language_Thalia
0,21310,en,A brand-new story in the best-selling Princess...,{'Englisch'}

In [11]:
df = df.join(google_df)

In [12]:
df.head(1)

,itemID,language,description,language_Thalia,language_google,description_google
0,21310,en,A brand-new story in the best-selling Princess...,{'Englisch'},['en'],"[""A brand-new story in the best-selling Prince..."

In [13]:
j = 0
k = 0
for i in range (len(df)):
    current_lang_google =str(df.at[i,'language_google'])
    current_lang_thalia =str(df.at[i,'language_Thalia'])
    if (',' in current_lang_google):
        df.loc[i, 'multiple_in_google'] = 'Yes'
        j = j + 1
    if (',' in current_lang_thalia):
        df.loc[i, 'multiple_in_thalia'] = 'Yes'
        k = k + 1
print(j)
print(k)

5428
2384

In [14]:
df_g_y = df[df['multiple_in_google'] == 'Yes']
df_g_n = df[df['multiple_in_google'] != 'Yes']
df_g_n_t_y = df_g_n[df_g_n['multiple_in_thalia'] == 'Yes']
df_g_n_t_n = df_g_n[df_g_n['multiple_in_thalia'] != 'Yes']
df_g_y_t_y = df_g_y[df_g_y['multiple_in_thalia'] == 'Yes']
df_g_y_t_n = df_g_y[df_g_y['multiple_in_thalia'] != 'Yes']

In [15]:
df_g_n_t_y.head(1)

,itemID,language,description,language_Thalia,language_google,description_google,multiple_in_google,multiple_in_thalia
135,19898,de,jack ist 12 jahre alt und lebt auf einer farm ...,"{'Deutsch, Englisch'}",['en'],['Rescued from the outrageous neglect of his a...,NaN,Yes

In [16]:
print (df_g_n_t_y.at[135,'language_google'])
current_lang1 = df_g_n_t_y.at[135,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'en']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'en'
    

print (df_g_n_t_y.at[200,'language_google'])
current_lang1 = df_g_n_t_y.at[200,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'de']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'de'
    
    
print (df_g_n_t_y.at[12309,'language_google'])
current_lang1 = df_g_n_t_y.at[12309,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'es']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'es'
    
    
print (df_g_n_t_y.at[1550,'language_google'])
current_lang1 = df_g_n_t_y.at[1550,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'it']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'it'
    
    
print (df_g_n_t_y.at[15321,'language_google'])
current_lang1 = df_g_n_t_y.at[15321,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'fr']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'fr'
    
print (df_g_n_t_y.at[24160,'language_google'])
current_lang1 = df_g_n_t_y.at[24160,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'pl']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'pl'
    
print (df_g_n_t_y.at[47653,'language_google'])
current_lang1 = df_g_n_t_y.at[47653,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'sv']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'sv'
    
print (df_g_n_t_y.at[36084,'language_google'])
current_lang1 = df_g_n_t_y.at[36084,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'nl']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'nl'
    
print (df_g_n_t_y.at[53154,'language_google'])
current_lang1 = df_g_n_t_y.at[53154,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'pt']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'pt'
    
print (df_g_n_t_y.at[30979,'language_google'])
current_lang1 = df_g_n_t_y.at[30979,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'pt']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'pt'
    
print (df_g_n_t_y.at[29744,'language_google'])
current_lang1 = df_g_n_t_y.at[29744,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'hi']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'hi'

print (df_g_n_t_y.at[52004,'language_google'])
current_lang1 = df_g_n_t_y.at[52004,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'iv']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'iv'

print (df_g_n_t_y.at[52145,'language_google'])
current_lang1 = df_g_n_t_y.at[52145,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'hu']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'hu'
    

print (df_g_n_t_y.at[51446,'language_google'])
current_lang1 = df_g_n_t_y.at[51446,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'zh']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'zh'
    

print (df_g_n_t_y.at[57894,'language_google'])
current_lang1 = df_g_n_t_y.at[57894,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'fi']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'fi'
    
print (df_g_n_t_y.at[61389,'language_google'])
current_lang1 = df_g_n_t_y.at[61389,'language_google']
df_temp = df_g_n_t_y[df_g_n_t_y['language_google'] == current_lang1]
df_temp = df_temp[df_temp['language'] != 'af']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'af'

['en']
['de']
['es']
['it']
['fr']
['pl']
['sv']
['nl']
['pt']
['pt-BR']
['hi']
['lv']
['hu']
['zh-CN']
['fi']
['af']

In [17]:
df_g_y = df[df['multiple_in_google'] == 'Yes']
df_g_n = df[df['multiple_in_google'] != 'Yes']
df_g_n_t_y = df_g_n[df_g_n['multiple_in_thalia'] == 'Yes']
df_g_n_t_n = df_g_n[df_g_n['multiple_in_thalia'] != 'Yes']
df_g_y_t_y = df_g_y[df_g_y['multiple_in_thalia'] == 'Yes']
df_g_y_t_n = df_g_y[df_g_y['multiple_in_thalia'] != 'Yes']

In [18]:
lang_type = df_g_n_t_y.groupby(['language' , 'language_google'],sort = False).agg({'itemID': 'count'}).reset_index()
lang_type.sort_values(by=['itemID'], ascending=False, inplace=True, ignore_index= True)
print(lang_type)

   language language_google  itemID
0        en          ['en']    1439
1        de          ['de']     434
2        es          ['es']      70
3        it          ['it']      24
4        fr          ['fr']      12
5        sv          ['sv']       6
6        pt          ['pt']       6
7        nl          ['nl']       3
8        pt       ['pt-BR']       2
9        zh       ['zh-CN']       2
10       pl          ['pl']       1
11       hi          ['hi']       1
12       iv          ['lv']       1
13       hu          ['hu']       1
14       fi          ['fi']       1
15       af          ['af']       1

In [19]:
df_g_y_t_n.head(1)

,itemID,language,description,language_Thalia,language_google,description_google,multiple_in_google,multiple_in_thalia
2,19194,en,The first novel in the #1 bestselling RED QUEE...,{'Englisch'},"['en', 'da', 'id']","[""The first novel in the #1 bestselling RED QU...",Yes,NaN

In [20]:
print (df_g_y_t_n.at[2,'language_Thalia'])
current_lang1 = df_g_y_t_n.at[2,'language_Thalia']
df_temp = df_g_y_t_n[df_g_y_t_n['language_Thalia'] == current_lang1]
df_temp = df_temp[df_temp['language_Thalia'] != 'en']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'en'
    
print (df_g_y_t_n.at[658,'language_Thalia'])
current_lang1 = df_g_y_t_n.at[658,'language_Thalia']
df_temp = df_g_y_t_n[df_g_y_t_n['language_Thalia'] == current_lang1]
df_temp = df_temp[df_temp['language_Thalia'] != 'es']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'es'
    
print (df_g_y_t_n.at[8682,'language_Thalia'])
current_lang1 = df_g_y_t_n.at[8682,'language_Thalia']
df_temp = df_g_y_t_n[df_g_y_t_n['language_Thalia'] == current_lang1]
df_temp = df_temp[df_temp['language_Thalia'] != 'it']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'it'
    
print (df_g_y_t_n.at[13952,'language_Thalia'])
current_lang1 = df_g_y_t_n.at[13952,'language_Thalia']
df_temp = df_g_y_t_n[df_g_y_t_n['language_Thalia'] == current_lang1]
df_temp = df_temp[df_temp['language_Thalia'] != 'de']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.loc[index, 'language'] = 'de'

{'Englisch'}
{'Spanisch'}
{'Italienisch'}
{'Deutsch (Untertitel: Deutsch)'}

In [21]:
df_g_y = df[df['multiple_in_google'] == 'Yes']
df_g_n = df[df['multiple_in_google'] != 'Yes']
df_g_n_t_y = df_g_n[df_g_n['multiple_in_thalia'] == 'Yes']
df_g_n_t_n = df_g_n[df_g_n['multiple_in_thalia'] != 'Yes']
df_g_y_t_y = df_g_y[df_g_y['multiple_in_thalia'] == 'Yes']
df_g_y_t_n = df_g_y[df_g_y['multiple_in_thalia'] != 'Yes']

In [22]:
lang_type = df_g_y_t_n.groupby(['language' , 'language_Thalia'],sort = False).agg({'itemID': 'count'}).reset_index()
lang_type.sort_values(by=['itemID'], ascending=False, inplace=True, ignore_index= True)
print(lang_type)

   language                    language_Thalia  itemID
0        de                        {'Deutsch'}    2465
1        en                       {'Englisch'}    2358
2        es                       {'Spanisch'}     158
3        en                               {''}      78
4        it                    {'Italienisch'}      50
5        de                               {''}      44
6        fr                    {'Französisch'}      41
7        pt                  {'Portugiesisch'}      19
8        ru                       {'Russisch'}       8
9        sv                     {'Schwedisch'}       7
10       hi                          {'Hindi'}       7
11       de  {'Deutsch (Untertitel: Deutsch)'}       7
12       nl                 {'Niederländisch'}       6
13       hu                      {'Ungarisch'}       4
14       ca                    {'Katalanisch'}       3
15       id                               {''}       3
16       sv                               {''}       3
17       pt                               {''}       2
18       zh                     {'Chinesisch'}       2
19       hr                      {'Kroatisch'}       2
20       da                        {'Dänisch'}       2
21       pl                       {'Polnisch'}       2
22       es                               {''}       2
23       no                     {'Norwegisch'}       2
24       fr                               {''}       1
25       fi                       {'Finnisch'}       1
26       ce                    {'Tschechisch'}       1
27       no                               {''}       1
28       so                               {''}       1
29       tr                       {'Türkisch'}       1
30       ro                      {'Rumänisch'}       1
31       nl                               {''}       1
32       et                       {'Estnisch'}       1

In [23]:
df_g_y_t_y.head(1)

,itemID,language,description,language_Thalia,language_google,description_google,multiple_in_google,multiple_in_thalia
765,52634,de,bewundere die bewohner des korallenriffs tauch...,"{'Deutsch, Englisch'}","['de', 'en']",['Die aufregenden Abenteuer des Hobbits Bilbo ...,Yes,Yes

In [24]:
df.loc[2645, 'language'] = 'de'
df.loc[8142, 'language'] = 'de'
df.loc[31039, 'language'] = 'de'
df.loc[49751, 'language'] = 'de'
df.loc[69823, 'language'] = 'de'


df.loc[32439, 'language'] = 'es'
df.loc[51129, 'language'] = 'fr'

df.loc[3732, 'language'] = 'en'
df.loc[4865, 'language'] = 'en'
df.loc[7668, 'language'] = 'en'
df.loc[8918, 'language'] = 'en'
df.loc[11612, 'language'] = 'en'
df.loc[30959, 'language'] = 'en'
df.loc[31062, 'language'] = 'en'
df.loc[35943, 'language'] = 'en'
df.loc[37469, 'language'] = 'en'
df.loc[39795, 'language'] = 'en'
df.loc[42222, 'language'] = 'en'
df.loc[43194, 'language'] = 'en'
df.loc[44608, 'language'] = 'en'
df.loc[45667, 'language'] = 'en'
df.loc[46118, 'language'] = 'en'
df.loc[56772, 'language'] = 'en'
df.loc[59856, 'language'] = 'en'
df.loc[65277, 'language'] = 'en'

In [25]:
df.drop(['language_Thalia','language_google', 'multiple_in_google','multiple_in_thalia',], axis= 1, inplace=True)
df.head(1)

,itemID,language,description,description_google
0,21310,en,A brand-new story in the best-selling Princess...,"[""A brand-new story in the best-selling Prince..."

In [26]:
books_data.drop(['Unnamed: 0','language', 'description'], axis= 1, inplace=True)
books_data.head(1)

,itemID,title,author,publisher,main topic,subtopics,interest_age,number_pages,release_date,ISBN_13
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],1,{''},{Timestamp('2010-11-30 00:00:00')},"[{'type': 'ISBN_13', 'identifier': '9781409048..."

In [27]:
books_data = books_data.merge(df, how='left', on='itemID')

In [28]:
books_data.head(1)

,itemID,title,author,publisher,main topic,subtopics,interest_age,number_pages,release_date,ISBN_13,language,description,description_google
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],1,{''},{Timestamp('2010-11-30 00:00:00')},"[{'type': 'ISBN_13', 'identifier': '9781409048...",en,A brand-new story in the best-selling Princess...,"[""A brand-new story in the best-selling Prince..."

In [29]:
books_data.to_csv('final_improv_ver1.csv')

In [30]:
df = books_data.copy()

In [31]:
df_en = df[df['language'] == 'en']
df_temp = df[df['language'] != 'en']
df_de = df_temp[df_temp['language'] == 'de']
df_temp = df_temp[df_temp['language'] != 'de']
df_es = df_temp[df_temp['language'] == 'es']
df_temp = df_temp[df_temp['language'] != 'es']
df_it = df_temp[df_temp['language'] == 'it']
df_temp = df_temp[df_temp['language'] != 'it']
df_fr = df_temp[df_temp['language'] == 'fr']
df_temp = df_temp[df_temp['language'] != 'fr']
df_pt = df_temp[df_temp['language'] == 'pt']
df_temp = df_temp[df_temp['language'] != 'pt']
df_sv = df_temp[df_temp['language'] == 'sv']
df_temp = df_temp[df_temp['language'] != 'sv']
df_nl = df_temp[df_temp['language'] == 'nl']
df_temp = df_temp[df_temp['language'] != 'nl']
df_ru = df_temp[df_temp['language'] == 'ru']
df_temp = df_temp[df_temp['language'] != 'ru']
df_hu = df_temp[df_temp['language'] == 'hu']
df_temp = df_temp[df_temp['language'] != 'hu']
df_fi = df_temp[df_temp['language'] == 'fi']
df_temp = df_temp[df_temp['language'] != 'fi']
df_hi = df_temp[df_temp['language'] == 'hi']
df_rem = df_temp[df_temp['language'] != 'hi']

In [32]:
df_en_nan = df_en[df_en['description'].isnull()]
df_en_no_nan = df_en[df_en['description'].notnull()]

In [33]:
df_en_no_nan['LangDetect'] = ''
df_en_no_nan['LangDetect2'] = ''
DetectorFactory.seed = 0
all_indexes = df_en_no_nan.index.values
for index in all_indexes:
    pre_description = str(df_en_no_nan.loc[index, 'description'])
    try:
        language = detect(pre_description)
    except LangDetectException:
        language = 'unknown'
    df_en_no_nan.at[index,'LangDetect'] = language

for index in all_indexes:
    pre_description2 = str(df_en_no_nan.loc[index, 'description_google'])
    try:
        language = detect(pre_description2)
    except LangDetectException:
        language = 'unknown'
    df_en_no_nan.at[index,'LangDetect2'] = language

<ipython-input-33-635d4101ad54>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_en_no_nan['LangDetect'] = ''
<ipython-input-33-635d4101ad54>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_en_no_nan['LangDetect2'] = ''

In [42]:
j = 0 
df_en_req = df_en_no_nan[df_en_no_nan['LangDetect'] != 'en']
df_en_req = df_en_req[df_en_req['LangDetect'] != 'unknown']
df_temp = df_en_req[df_en_req['LangDetect2'] == 'en']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.at[index,'description'] = df_temp.at[index,'description_google']
    j = j + 1
print(j)

880

In [46]:
df_de_nan = df_de[df_de['description'].isnull()]
df_de_no_nan = df_de[df_de['description'].notnull()]

In [47]:
df_de_no_nan['LangDetect'] = ''
df_de_no_nan['LangDetect2'] = ''
DetectorFactory.seed = 0
all_indexes = df_de_no_nan.index.values
for index in all_indexes:
    pre_description = str(df_de_no_nan.loc[index, 'description'])
    try:
        language = detect(pre_description)
    except LangDetectException:
        language = 'unknown'
    df_de_no_nan.at[index,'LangDetect'] = language

for index in all_indexes:
    pre_description2 = str(df_de_no_nan.loc[index, 'description_google'])
    try:
        language = detect(pre_description2)
    except LangDetectException:
        language = 'unknown'
    df_de_no_nan.at[index,'LangDetect2'] = language

<ipython-input-47-6ade738b5ad7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_de_no_nan['LangDetect'] = ''
<ipython-input-47-6ade738b5ad7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_de_no_nan['LangDetect2'] = ''

In [48]:
j = 0 
df_de_req = df_de_no_nan[df_de_no_nan['LangDetect'] != 'de']
df_de_req = df_de_req[df_de_req['LangDetect'] != 'unknown']
df_temp = df_de_req[df_de_req['LangDetect2'] == 'de']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.at[index,'description'] = df_temp.at[index,'description_google']
    j = j + 1
print(j)

709

In [49]:
df_es_nan = df_es[df_es['description'].isnull()]
df_es_no_nan = df_es[df_es['description'].notnull()]

In [50]:
df_es_no_nan['LangDetect'] = ''
df_es_no_nan['LangDetect2'] = ''
DetectorFactory.seed = 0
all_indexes = df_es_no_nan.index.values
for index in all_indexes:
    pre_description = str(df_es_no_nan.loc[index, 'description'])
    try:
        language = detect(pre_description)
    except LangDetectException:
        language = 'unknown'
    df_es_no_nan.at[index,'LangDetect'] = language

for index in all_indexes:
    pre_description2 = str(df_es_no_nan.loc[index, 'description_google'])
    try:
        language = detect(pre_description2)
    except LangDetectException:
        language = 'unknown'
    df_es_no_nan.at[index,'LangDetect2'] = language

<ipython-input-50-20524eaf2714>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_es_no_nan['LangDetect'] = ''
<ipython-input-50-20524eaf2714>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_es_no_nan['LangDetect2'] = ''

In [51]:
j = 0 
df_es_req = df_es_no_nan[df_es_no_nan['LangDetect'] != 'es']
df_es_req = df_es_req[df_es_req['LangDetect'] != 'unknown']
df_temp = df_es_req[df_es_req['LangDetect2'] == 'es']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.at[index,'description'] = df_temp.at[index,'description_google']
    j = j + 1
print(j)

73

In [52]:
df_it_nan = df_it[df_it['description'].isnull()]
df_it_no_nan = df_it[df_it['description'].notnull()]

In [53]:
df_it_no_nan['LangDetect'] = ''
df_it_no_nan['LangDetect2'] = ''
DetectorFactory.seed = 0
all_indexes = df_it_no_nan.index.values
for index in all_indexes:
    pre_description = str(df_it_no_nan.loc[index, 'description'])
    try:
        language = detect(pre_description)
    except LangDetectException:
        language = 'unknown'
    df_it_no_nan.at[index,'LangDetect'] = language

for index in all_indexes:
    pre_description2 = str(df_it_no_nan.loc[index, 'description_google'])
    try:
        language = detect(pre_description2)
    except LangDetectException:
        language = 'unknown'
    df_it_no_nan.at[index,'LangDetect2'] = language

<ipython-input-53-dfce78d50a93>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_it_no_nan['LangDetect'] = ''
<ipython-input-53-dfce78d50a93>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_it_no_nan['LangDetect2'] = ''

In [54]:
j = 0 
df_it_req = df_it_no_nan[df_it_no_nan['LangDetect'] != 'it']
df_it_req = df_it_req[df_it_req['LangDetect'] != 'unknown']
df_temp = df_it_req[df_it_req['LangDetect2'] == 'it']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.at[index,'description'] = df_temp.at[index,'description_google']
    j = j + 1
print(j)

36

In [55]:
df_fr_nan = df_fr[df_fr['description'].isnull()]
df_fr_no_nan = df_fr[df_fr['description'].notnull()]

In [56]:
df_fr_no_nan['LangDetect'] = ''
df_fr_no_nan['LangDetect2'] = ''
DetectorFactory.seed = 0
all_indexes = df_fr_no_nan.index.values
for index in all_indexes:
    pre_description = str(df_fr_no_nan.loc[index, 'description'])
    try:
        language = detect(pre_description)
    except LangDetectException:
        language = 'unknown'
    df_fr_no_nan.at[index,'LangDetect'] = language

for index in all_indexes:
    pre_description2 = str(df_fr_no_nan.loc[index, 'description_google'])
    try:
        language = detect(pre_description2)
    except LangDetectException:
        language = 'unknown'
    df_fr_no_nan.at[index,'LangDetect2'] = language

<ipython-input-56-e7b167eaa567>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fr_no_nan['LangDetect'] = ''
<ipython-input-56-e7b167eaa567>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fr_no_nan['LangDetect2'] = ''

In [57]:
j = 0 
df_fr_req = df_fr_no_nan[df_fr_no_nan['LangDetect'] != 'fr']
df_fr_req = df_fr_req[df_fr_req['LangDetect'] != 'unknown']
df_temp = df_fr_req[df_fr_req['LangDetect2'] == 'fr']
all_indexes = df_temp.index.values
for index in all_indexes:
    df.at[index,'description'] = df_temp.at[index,'description_google']
    j = j + 1
print(j)

12

In [62]:
df.drop(['description_google'], axis= 1, inplace=True)

In [63]:
df.head(1)

,itemID,title,author,publisher,main topic,subtopics,interest_age,number_pages,release_date,ISBN_13,language,description
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],1,{''},{Timestamp('2010-11-30 00:00:00')},"[{'type': 'ISBN_13', 'identifier': '9781409048...",en,A brand-new story in the best-selling Princess...

In [64]:
df.to_csv('final_improv_ver2.csv')