In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import dataset
books_data = pd.read_csv('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/publisher_cluster_added.csv', sep=',')
df = books_data.copy()
df.drop(['Unnamed: 0'], axis= 1, inplace=True)

In [3]:
df.head(1)

,itemID,title,author,publisher,main topic,subtopics,interest_age,number_pages,release_date,ISBN_13,language,description,publisher_cluster
0,21310,Princess Poppy: The Big Mix Up,Janey Louise Jones,Penguin Random House Children's UK,YFB,[5AH],1,{''},{Timestamp('2010-11-30 00:00:00')},"[{'type': 'ISBN_13', 'identifier': '9781409048...",en,A brand-new story in the best-selling Princess...,1

In [4]:
df['author'].isna().sum()

3240

In [5]:
df1 = df[df['author'].notnull()]
df2 = df[df['author'].isna()]
df_temp = df1[['title','author']]

In [6]:
df_temp.head(1)

                            title              author
0  Princess Poppy: The Big Mix Up  Janey Louise Jones

In [7]:
df_temp.count()

title     74790
author    74790
dtype: int64

In [10]:
df_edit = df2.merge(df_temp, on='title')
df_edit['author_x'] = df_edit['author_y']
df_edit.drop(['author_y'], axis= 1, inplace=True)
df_edit = df_edit.rename(columns={'author_x': 'author'})
df_edit= df_edit[['itemID','author']]

In [11]:
df_edit.count()

itemID    229
author    229
dtype: int64

In [12]:
df_edit.head(1)

   itemID        author
0   42600  Arlene Mosel

In [13]:
df2.drop(['author'], axis= 1, inplace=True)
df2 = df2.merge(df_edit, how= 'left', on='itemID')

C:\Users\ASUS\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [14]:
df2.count()

itemID               3389
title                3389
publisher            3389
main topic           3357
subtopics            3389
interest_age         3389
number_pages         3388
release_date         3388
ISBN_13              3365
language             3389
description          2974
publisher_cluster    3389
author                229
dtype: int64

In [15]:
df2.sort_values("author", inplace = True)
df2.drop_duplicates(subset = 'itemID',
                     keep = 'first', inplace = True)

In [17]:
df2 = df2[['itemID', 'title', 'author', 'publisher', 'main topic', 'subtopics', 'interest_age', 'number_pages', 'release_date', 'ISBN_13', 'language' , 'description', 'publisher_cluster']]

In [18]:
df2.count()

itemID               3240
title                3240
author                 80
publisher            3240
main topic           3208
subtopics            3240
interest_age         3240
number_pages         3239
release_date         3239
ISBN_13              3216
language             3240
description          2827
publisher_cluster    3240
dtype: int64

In [19]:
frames = [df1, df2]
df = pd.concat(frames)

In [20]:
df['author'].isna().sum()

3160

In [21]:
df.to_csv('publisher_cluster_added.csv')

In [55]:
import pickle
with open('D:/Uni Mannheim/Semester 2/Data Mining 2/DMC/Others datasets/Team 404/team404.pickle', "rb") as fh:
  df1 = pickle.load(fh)

In [56]:
df_temp = df1.copy()
df_temp = df_temp [['itemID', 'authors', 'google_authors', 'thalia_authors']]
df_temp.head(1)

   itemID               authors        google_authors thalia_authors
0   21310  [Janey Louise Jones]  [Janey Louise Jones]           <NA>

In [57]:
print(type(df_temp))

<class 'pandas.core.frame.DataFrame'>

In [58]:
df_temp.dropna(subset=['itemID'],inplace=True)

In [59]:
df_temp.count()

itemID            58976
authors           57190
google_authors    57777
thalia_authors    42583
dtype: int64

In [60]:
df1 = df[df['author'].notnull()]
df2 = df[df['author'].isna()]
df2.drop(['author'], axis= 1, inplace=True)

C:\Users\ASUS\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [61]:
df2 = df2.merge(df_temp, how= 'left', on='itemID')

In [62]:
df2.count()

itemID               3160
title                3160
publisher            3160
main topic           3128
subtopics            3160
interest_age         3160
number_pages         3159
release_date         3159
ISBN_13              3136
language             3160
description          2748
publisher_cluster    3160
authors                 0
google_authors        890
thalia_authors        364
dtype: int64

In [63]:
df3 = df2[df2['google_authors'] == df2['thalia_authors']]
df4 = df2[df2['google_authors'] != df2['thalia_authors']]

In [64]:
df3.drop(['authors','google_authors'], axis= 1, inplace=True)

In [66]:
df3 = df3.rename(columns={'thalia_authors': 'author'})
df3 = df3[['itemID', 'title', 'author', 'publisher', 'main topic', 'subtopics', 'interest_age', 'number_pages', 'release_date', 'ISBN_13', 'language' , 'description', 'publisher_cluster']]

In [67]:
df3.count()

itemID               135
title                135
author               135
publisher            135
main topic           131
subtopics            135
interest_age         135
number_pages         135
release_date         135
ISBN_13              134
language             135
description          129
publisher_cluster    135
dtype: int64

In [68]:
df5 = df4[df4['thalia_authors'].isna()]
df6 = df4[df4['thalia_authors'].notnull()]

In [71]:
df5.drop(['authors','thalia_authors'], axis= 1, inplace=True)

In [72]:
df5 = df5.rename(columns={'google_authors': 'author'})

In [74]:
df5 = df5[['itemID', 'title', 'author', 'publisher', 'main topic', 'subtopics', 'interest_age', 'number_pages', 'release_date', 'ISBN_13', 'language' , 'description', 'publisher_cluster']]

In [75]:
df5.count()

itemID               2796
title                2796
author                590
publisher            2796
main topic           2769
subtopics            2796
interest_age         2796
number_pages         2795
release_date         2795
ISBN_13              2774
language             2796
description          2401
publisher_cluster    2796
dtype: int64

In [76]:
df7 = df6[df6['google_authors'].isna()]
df8 = df6[df6['google_authors'].notnull()]

In [79]:
df7.drop(['authors','google_authors'], axis= 1, inplace=True)

In [80]:
df7 = df7.rename(columns={'thalia_authors': 'author'})
df7 = df7[['itemID', 'title', 'author', 'publisher', 'main topic', 'subtopics', 'interest_age', 'number_pages', 'release_date', 'ISBN_13', 'language' , 'description', 'publisher_cluster']]

In [81]:
df7.count()

itemID               64
title                64
author               64
publisher            64
main topic           63
subtopics            64
interest_age         64
number_pages         64
release_date         64
ISBN_13              64
language             64
description          57
publisher_cluster    64
dtype: int64

In [88]:
goal = str(df8.at[50,'thalia_authors'])
df8.loc[50, 'google_authors'] = goal
goal = str(df8.at[53,'thalia_authors'])
df8.loc[53, 'google_authors'] = goal
goal = str(df8.at[81,'thalia_authors'])
df8.loc[81, 'google_authors'] = goal
goal = str(df8.at[130,'thalia_authors'])
df8.loc[130, 'google_authors'] = goal
goal = str(df8.at[228,'thalia_authors'])
df8.loc[228, 'google_authors'] = goal
goal = str(df8.at[413,'thalia_authors'])
df8.loc[413, 'google_authors'] = goal

In [ ]:
d8.drop(['authors','thalia_authors'], axis= 1, inplace=True)

In [89]:
df8 = df8.rename(columns={'google_authors': 'author'})
df8 = df8[['itemID', 'title', 'author', 'publisher', 'main topic', 'subtopics', 'interest_age', 'number_pages', 'release_date', 'ISBN_13', 'language' , 'description', 'publisher_cluster']]

In [90]:
df8.count()

itemID               165
title                165
author               165
publisher            165
main topic           165
subtopics            165
interest_age         165
number_pages         165
release_date         165
ISBN_13              164
language             165
description          161
publisher_cluster    165
dtype: int64

In [91]:
frames = [df1, df3, df5, df7,df8]
df = pd.concat(frames)

In [92]:
df['author'].isna().sum()

2206

In [93]:
df.to_csv('publisher_cluster_added.csv')